# Binaries
*.exe
*.dll
*.so
*.dylib
api.exe

# Go
vendor/
*.test
coverage.txt

# Frontend
node_modules/
.next/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Build
medstock.exe